@import "../../assets/scss/app.scss";

.faq {
  overflow: hidden;
  padding: 56px 0 0;
  position: relative;
  z-index: 2;

  @include desktop() {
    padding: 180px 0;
  }

  .inner {
    position: relative;

    @include desktop() {
      width: 1160px;
      margin: 0 auto;
    }

    .barrels {
      @include onlyDesktop() {
        position: absolute;
        z-index: 1;
        top: -85px;
        right: -240px;
        width: 907.09px;
        height: 758.44px;
      }
    }

    .clouds {
      @include onlyDesktop() {
        position: absolute;
        z-index: 1;
        top: -380px;
        left: 100px;

      }
    }


    .title {
      @include h2();
      position: relative;
      z-index: 2;

      text-align: center;

      @include desktop() {
        text-align: left;
      }
    }

    .items {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;

      @include desktop() {
        align-items: flex-start;
        margin-top: 80px;
      }

      .card {
        cursor: pointer;
        width: 288px;
        height: 144px;
        position: relative;
        background-image: url(../../assets/png/faq-card-mobile-close.png);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop() {
          width: 586px;
          height: 94px;
          background-image: url(../../assets/png/faq-card-desktop-close.png);
          align-items: flex-start;
        }

        &_open {
          width: 288px;
          height: 306px;
          background-image: url(../../assets/png/faq-card-mobile-open.png);

          @include desktop() {
            width: 586px;
            height: 239px;
            background-image: url(../../assets/png/faq-card-desktop-open.png);
          }
        }


        &:not(:first-child) {
          margin-top: 24px;

          @include desktop() {
            margin-top: 20px;
          }
        }

        .btn {
          cursor: pointer;
          position: absolute;
          left: 50%;
          top: 28px;
          transform: translateX(-50%);
          width: 32px;
          height: 32px;

          @include desktop() {
            top: 22px;
            left: auto;
            right: 22px;
            transform: none;
            width: 40px;
            height: 40px;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;

            @include desktop() {
              width: 40px;
              height: 40px;
            }

          }

        }

        .title {
          @include PressStart();
          margin-top: 72px;
          font-size: 12px;
          line-height: 160%;
          text-align: center;
          color: #130B25;
          width: 220px;

          @include desktop() {
            margin-top: 31px;
            margin-left: 42px;
            width: auto;
          }

        }

        .text {
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 150%;
          text-align: center;
          width: 248px;
          color: #130B25;
          margin-top: 12px;

          @include desktop() {
            font-size: 14px;
            margin-top: 30px;
            margin-left: 42px;
            width: 454px;
            text-align: left;
          }
        }


      }
    }
  }
}